---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Karat's Links">
	<main class="text-white flex justify-center bg-gradient-to-b from-zinc-900 to-black w-screen h-screen">
		<!--Main col -->
		<div class="pt-8 sm:pt-20 lg:pt-32 flex flex-col items-center p-6 w-full sm:w-3/4 md:w-2/3 max-w-2xl min-w-fit">

			<!--Hero -->
			<div class="flex flex-col items-center mb-8 sm:mb-8 md:mb-12 lg:mb-20 space-y-4 sm:space-y-8">
				<div class="flex items-center space-x-6">
					<!--Icon -->
					<a href="https://trykarat.com">
						<img src="/logo.jpeg" alt="Company Logo" class="h-16 w-16 sm:w-20 sm:h-20 md:h-24 md:w-24 rounded-lg shadow-xl shadow-transparent hover:shadow-zinc-200/30 hover:mb-2 hover:-mt-2 hover:ring-4 ring-zinc-100/80 duration-300" />
					</a>
					

					<!--Title -->
					<h1 class="text-2xl sm:text-3xl md:text-4xl font-black">
						Karat
					</h1>
				</div>
				
				<!--Intro -->
				<p class="px-4 py-3 sm:p-6 backdrop-blur-sm bg-zinc-500/10 rounded-xl text-white/70 text-sm sm:text-base">
					We provide all the financial services creators need to make a living from their work.
				</p>
			</div>
			
			

			<!--Link list -->
			<ul role="list" class="space-y-4 w-full">
				<Card
					href="https://www.youtube.com/channel/UCGDMcgLb89_NSbRFTQi1VgA?sub_confirmation=1"
					title="Subscibe to The Karat Podcast"
					body="Coming soon to your ears (and eyes)."
					icon="/microphone.svg"
				/>
				<Card
					href="https://www.trykarat.com/accelerate"
					title="Apply for a card"
					body="It's time to be bad and bougie."
					icon="/card.svg"
				/>
				<Card
					href="https://trykarat.com/taxes"
					title="White glove tax service for creators"
					body="The IRS never stops, and neither do we."
					icon="/banknotes.svg"
				/>
				<Card
					href="https://www.trykarat.com/"
					title="Who is Karat?"
					body="Who are you, and why are you in my house?"
					icon="/building.svg"
				/>
			</ul>

		</div>
		
		
	</main>
</Layout>
