---
export interface Props {
	title: string;
	body: string;
	href: string;
	icon: string;
}

const { href, title, body, icon } = Astro.props;
---

<li class="w-full">
	<a href={href} class="ring-2 rounded-xl ring-zinc-800/20 flex justify-between items-center w-full bg-black/40 py-6 px-8 hover:bg-zinc-800 hover:ring-zinc-200/30 duration-150 hover:last:text-blue-500 shadow-lg shadow-transparent hover:shadow-zinc-200/20">
		<!--Icon -->
		<div class="h-6 w-6 sm:ml-4 md:ml-8">
			<img src={icon} />
		</div>

		<!--Words and links -->
		<div class="flex flex-col items-end">
			<h2 class="font-bold text-sm sm:text-base md:text-lg">
				{title}
			</h2>
			<p class="text-xs sm:text-sm lg:text-base text-white/70">
				{body}
			</p>
		</div>
	</a>
</li>
